.add-todo {
  &__row {
    padding: 24px 0;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 575px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__input {
    flex: 1;
  }
}
