.btn {
  color: var(--primary-white);
  background-color: var(--primary-dark);
  padding: var(--element-padding);
  border-radius: var(--radius);
  border: none;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.2;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid var(--primary-gray);
  }

  &--remove {
    padding: var(--element-padding-square);
  }
}
